/* John Baskerville CSS  */  
        
        body {
            
            background-color: #fcf4dc;
            font-family: 'Libre Baskerville', Baskerville, Georgia, serif;
            color: #222222;
            font-size: 18px;
            
        }
        
        h1 {
            
            font-size: 48px;
            margin-bottom: 0;
            letter-spacing: 5px;
            
            
        }
        
        
        h2 {
            
            font-size: 32px;
            
        }
        
        
        h1, h2, h3 {
            
            font-weight: normal;
            text-align: center;
            
        }
        
        
        h2#subtitle {
         
            margin-top: 5px;
            
        }
        
        p {
            
            width: 80%;
            margin: 0 auto; 
/*            font-size: 18px;*/
            padding: 10px 0px;
            line-height: 1.3;
            
        }
        
        
        
        p#intro {
         
            font-size: 24px;
            text-align: center;
            padding: 40px;
            
        }
        
        
        p#intro, h2#subtitle {
            
         font-style: italic;   
            
        }
        
        strong, ul {
            
         font-weight: normal;   
            
        }
        
        

        
        ul {
            
        padding: 20px 0px;
        width: 70%;
        margin: 0 auto;
        text-align: center;
            
            
        }
        




        ul li {
            
            list-style: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            

            
        }
        
        
                ul li strong { font-weight: 600; }
        
        
        ul li li {
         
            list-style: none;
            text-transform: none;
            padding: 10px;
            border-bottom: 1px solid #d5d5d5;

            
        }


        li.border_top {
            
            border-top: 1px solid #d5d5d5;
            
            
        }
        
        
        
        
        
        h1, nav a {
            
            text-transform: uppercase;
            
        }
        
        
        strong {
         
            font-weight: 600;
            
        }
        
        
                a {
            
            color: #CC0433;
            text-decoration: none;
            text-transform: uppercase;
            text-transform: none;
            
        }
        
        
        a:hover {
            
        
            color: navy;
            
        }
        
        
        nav {
            
            border-top: 1px solid #d5d5d5;
            border-bottom: 1px solid #d5d5d5;
            
        }



        nav a {
            
            letter-spacing: 2px;
            
        }


        
        
        nav ul {
         
    
            text-align: center;
            list-style: none;
            
        }
        
        nav ul li {
            
            display: inline;
            margin: 10px;
            
        }


        
        img {
            
            display: block;
            margin: 0 auto;
            padding-bottom: 40px;
            
        }

       
        p#portrait {
         
            background-color: black;
            width: 100%;
            padding: 0;
            
        }
        
        
        
        section {
            
            
            width: 80%; 
            margin: 0 auto; 
            
            
        }

        section#intro {
            
                        width: 100%;
            border-bottom: 1px solid #d5d5d5;
            
        }
            
        
        blockquote {
         
            margin-top: 60px;
/*            margin-bottom: 40px;*/
            
        }
        
        
        blockquote p {
         
            font-size: 24px;
            color: #555;
            border-left: 5px solid #d5d5d5;
            padding-left: 20px;
            line-height: 1.5;
            
        }
        
        
        cite#blockquote_cite { 
            
            color: #555;
            padding-left: 40px;
            
        }
        
        
 
            
        
        footer {
            
/*            width: 80%;*/
            margin: 0 auto;
            border-top: 1px solid #d5d5d5;
            padding: 20px;
            
        }


        footer#top {
            
            padding: 40px;
            text-transform: uppercase;
            text-align: right;
            border-top: none;
            
        }
        
        
        footer#top a {
            
            text-transform: uppercase;
            letter-spacing: 1px;
            
        }
            
        
        
